h1 {
  font-family: $main-header-font;
  text-align: center;
  padding: 20px;
  font-size: 4rem;
}

h2 {
  font-family: $main-header-font;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
}

body {
  font-family: $font-family-sans-serif;
  text-align: center;
}

.container {
  text-align: center;
}
